extends layout

block content
  div(id="post")
    form(action="/" method="post")
      input(type="text" name="yadda" placeholder="Besked")
      button yadda!
  div(id="timeline")
    each yadda in yaddas
      if !yadda.replyTo 
        a(href="/profiles/" + yadda.username) #{yadda.username}
        p #{yadda.yadda}
        p #{yadda.created}
        p hejdfhkjgh #{yadda.avatar.data}
          if !yadda.avatar.type
            img(src="/images/x.png" alt="default image")
          else
            img(src='/getimage/' + yadda.username alt="missing image of " + yadda.username)
        button
          a(href="/replyYadda/" + yadda._id) Reply
