extends layout

block content 
  div(id="post")
    form(action="/" method="post")
      input(type="text" name="yadda" placeholder="Besked")
      button yadda!
  div(id="timeline")
    each yadda in yaddas
      if !yadda.replyTo 
        p #{yadda.username} #{yadda.yadda}
        p #{yadda.created}
        p
          if yadda.avatar.MimeType !== "application/octet-stream"      
            img(src='/getimage/' + yadda.username alt="missing image of " + yadda.username)
          else
            img(src="/images/x.png" alt="default image")
        button
          a(href="/replyYadda/" + yadda._id) Reply
