extends layout

block content 
  div(id="post")
    form(action="/" method="post")
      input(type="text" name="yadda" placeholder="Besked")
      button yadda!
  div(id="timeline")
    each yadda in yaddas
      p #{yadda.username} #{yadda.yadda}
      button
        a(href="/replyYadda/" + yadda._id) Reply
