doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Yadda!
    main
      div(id="menu")
        ul
          li 
            a(href="/") Home
          if user == false && admin == false
            li 
              a(href="/createUser") Create user 
            li 
              a(href="/login") Login
          if loggedin
            li
              a(href="/logout") Logout
      block content
