doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      ul
        li 
          a(href="/") Home
        if !user || !admin  
          li 
            a(href="/createUser") Create user 
          li 
            a(href="/login") Login
        if user || admin
          li
            a(href="/logout") Logout 
    block content
