doctype html
html
  head
    title= title
    if currentTheme
      if currentTheme === "dark"
        link(rel='stylesheet', href='/stylesheets/styleDark.css')
      else
        link(rel='stylesheet', href='/stylesheets/style.css')
    else
        link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Yadda!
    main
      div(id="menu")
        ul
          li 
            a(href="/") Home
          if user === false && admin === false
            li 
              a(href="/createUser") Create user 
            li 
              a(href="/login") Login
          if user || admin
            li
              a(href="/logout") Logout
      div(id="middle")
        block content
      
      block sidebar
        div(id="annoncer")
          p annoncer