//variables
@primary-color: #6200ee;
@background-color: white;
@primary-hover: lighten(@primary-color, 10%);

//mixins
.buttons {
  background-color: @primary-color;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  font-weight: 800;

  &:hover {
    background-color: @primary-hover;
  }

  a {
    color: white;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

#submit {
  .buttons();
}

body {
  background-color: @background-color;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  header {
    width: 100vw;
    height: 50px;
    background-color: @primary-color;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  main {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #post {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        height: 60px;
        width: 60px;
        margin-right: 20px;
        border-radius: 50%;
        border: 2px solid @primary-color;
      }

      form {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-between;

        input {
          width: 90%;
          border-radius: 7px 0px 0px 7px;
          border: 1px solid grey;

          &[type="text"] {
            padding-left: 10px;
          }
        }

        button {
          .buttons();
          border-radius: 0px 7px 7px 0px;
        }
      }

    }

    #timeline, #oneYadda {
      #yadda {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;

        img {
          border: 1px solid @primary-color;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin-right: 20px;
          object-fit: cover;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: @primary-color;
        }

        #yaddaText {

          #username {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 300px;
            margin-bottom: 10px;

            a {
              color: @primary-color;
              margin-right: 10px;
              font-weight: 700;

              &:hover {
                color: @primary-hover
              }
            }
          }

          p {
            max-width: 300px;
          }

          button {
            margin-top: 10px;
            .buttons();
          }
        }

        a {
          text-decoration: none;
        }
      }
    }

    #profile {

      #info {
        width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;

        #user {

          p {
            font-size: 18px;

            &:nth-child(odd) {
              font-weight: 600;
              color: @primary-color;
            }

            &:nth-child(even) {
              margin-bottom: 10px;
            }
          }

          #theme {

            .switch {

              a {
                height: 100%;
                display: block;
              }
            }

          }
        }

        img {
          border-radius: 50%;
          height: 200px;
          width: 200px;
        }
      }

      #tabs-container {
        #tabs-bar {

          .tablink {
            width: 50%;
            height: 40px;
            border: none;
            border-top: 1px solid black;
            font-size: 24px;
            font-weight: 500;

            &:first-child {
              border-radius: 10px 0 0 0;
              border-left: 1px solid black;
            }

            &:nth-child(2) {
              border-radius: 0 10px 0 0;
              border-right: 1px solid black;
            }
          }

          .tabButton-active {
            background-color: @primary-color;
            color: white;
          }
        }

        .tab-content {
          border: 1px solid black;
        }
      }
    }
    #createUser {
      h2{
        margin-bottom: 15px;
      }
      form{
        display: flex;
        flex-direction: column;
        input{
          margin-bottom: 15px;
        }
      }
    }

    #login{
      form{
        display: flex;
        flex-direction: column;
          input{
            margin-bottom: 15px;
        }
      }
      div{
        display: flex;
        flex-direction: row;
        p{
          margin-right: 5px;
        }
      }
    }
  }

  ul {
    padding: 0;

    li {
      list-style: none;

      a {
        color: @primary-color;
        text-decoration: none;
      }
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: @primary-color;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}