.buttons {
  background-color: #6200ee;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  font-weight: 800;
}
.buttons:hover {
  background-color: #8c3cff;
}
.buttons a {
  color: white;
}
* {
  margin: 0;
  box-sizing: border-box;
}
#submit {
  background-color: #6200ee;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  font-weight: 800;
}
#submit:hover {
  background-color: #8c3cff;
}
#submit a {
  color: white;
}
body {
  background-color: #fff;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* Rounded sliders */
}
body header {
  width: 100vw;
  height: 50px;
  background-color: #6200ee;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
body header a {
  color: white;
  text-decoration: none;
}
body main {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body main #menu ul li {
  margin-bottom: 20px;
}
body main #menu ul li a {
  font-size: 24px;
  font-weight: 600;
}
body main #middle,
body main #menu,
body main #annoncer {
  width: 33%;
}
body main #post {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body main #post img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #6200ee;
}
body main #post form {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
body main #post form input {
  width: 90%;
  border-radius: 7px 0px 0px 7px;
  border: 1px solid grey;
}
body main #post form input[type="text"] {
  padding-left: 10px;
}
body main #post form button {
  background-color: #6200ee;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  font-weight: 800;
  border-radius: 0px 7px 7px 0px;
}
body main #post form button:hover {
  background-color: #8c3cff;
}
body main #post form button a {
  color: white;
}
body main #timeline #yadda,
body main #oneYadda #yadda {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
body main #timeline #yadda img,
body main #oneYadda #yadda img {
  border: 1px solid #6200ee;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6200ee;
}
body main #timeline #yadda #yaddaText #username,
body main #oneYadda #yadda #yaddaText #username {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 10px;
}
body main #timeline #yadda #yaddaText #username a,
body main #oneYadda #yadda #yaddaText #username a {
  color: #6200ee;
  margin-right: 10px;
  font-weight: 700;
}
body main #timeline #yadda #yaddaText #username a:hover,
body main #oneYadda #yadda #yaddaText #username a:hover {
  color: #8c3cff;
}
body main #timeline #yadda #yaddaText p,
body main #oneYadda #yadda #yaddaText p {
  max-width: 300px;
}
body main #timeline #yadda #yaddaText button,
body main #oneYadda #yadda #yaddaText button {
  margin-top: 10px;
  background-color: #6200ee;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  font-weight: 800;
}
body main #timeline #yadda #yaddaText button:hover,
body main #oneYadda #yadda #yaddaText button:hover {
  background-color: #8c3cff;
}
body main #timeline #yadda #yaddaText button a,
body main #oneYadda #yadda #yaddaText button a {
  color: white;
}
body main #timeline #yadda a,
body main #oneYadda #yadda a {
  text-decoration: none;
}
body main #profile #info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
body main #profile #info #user p {
  font-size: 18px;
}
body main #profile #info #user p:nth-child(odd) {
  font-weight: 600;
  color: #6200ee;
}
body main #profile #info #user p:nth-child(even) {
  margin-bottom: 10px;
}
body main #profile #info #user #theme .switch a {
  height: 100%;
  display: block;
}
body main #profile #info #user button {
  background-color: #6200ee;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  font-weight: 800;
}
body main #profile #info #user button:hover {
  background-color: #8c3cff;
}
body main #profile #info #user button a {
  color: white;
}
body main #profile #info img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 1px solid #6200ee;
}
body main #profile #tabs-container #tabs-bar {
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
}
body main #profile #tabs-container #tabs-bar .tablink {
  width: 50%;
  height: 40px;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: 500;
  background-color: #6200ee;
}
body main #profile #tabs-container #tabs-bar .tablink:first-child {
  border-radius: 10px 0 0 0;
  border-right: 1px solid black;
}
body main #profile #tabs-container #tabs-bar .tablink:nth-child(2) {
  border-radius: 0 10px 0 0;
  border-left: 1px solid black;
}
body main #profile #tabs-container #follow {
  display: flex;
  flex-direction: row;
  width: 100%;
}
body main #profile #tabs-container .tab-content {
  border: 1px solid black;
  width: 50%;
}
body main #profile #tabs-container .tab-content .tab-inner {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
  border-bottom: 2px solid #d7bbff;
}
body main #profile #tabs-container .tab-content .tab-inner:last-child {
  margin-bottom: 5px;
  border-bottom: none;
}
body main #profile #tabs-container .tab-content .tab-inner .followUser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main #profile #tabs-container .tab-content .tab-inner .followUser a {
  color: black;
}
body main #profile #tabs-container .tab-content .tab-inner .followUser a:hover {
  color: #333333;
}
body main #profile #tabs-container .tab-content .tab-inner .followUser img {
  border: 1px solid #6200ee;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}
body main #profile #tabs-container .tab-content .tab-inner a {
  text-decoration: none;
  color: #6200ee;
}
body main #profile #tabs-container .tab-content .tab-inner a:hover {
  color: #8c3cff;
}
body main #createUser h2 {
  margin-bottom: 15px;
}
body main #createUser form {
  display: flex;
  flex-direction: column;
}
body main #createUser form input {
  margin-bottom: 15px;
}
body main #login form {
  display: flex;
  flex-direction: column;
}
body main #login form input {
  margin-bottom: 15px;
}
body main #login div {
  display: flex;
  flex-direction: row;
}
body main #login div p {
  margin-right: 5px;
}
body main #annoncer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main #annoncer a {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
}
body main #annoncer a img {
  width: 100%;
  object-fit: cover;
}
body ul {
  padding: 0;
}
body ul li {
  list-style: none;
}
body ul li a {
  color: #6200ee;
  text-decoration: none;
}
body ul li a:hover {
  color: #8c3cff;
}
body .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
body .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
body .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body input:checked + .slider {
  background-color: #6200ee;
}
body input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
body input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
body .slider.round {
  border-radius: 34px;
}
body .slider.round:before {
  border-radius: 50%;
}
